name: Tests

on:
    push:
    pull_request:
    schedule:
        - cron: '0 0 * * *'

jobs:
    tests:
        runs-on: ${{ matrix.os }}

        strategy:
            matrix:
                php:
                    - '5.6'
                    - '7.0'
                    - '7.1'
                    - '7.2'
                    - '7.3'
                    - '7.4'
                os: [ubuntu-latest]

        name: PHP ${{ matrix.php }} - ${{ matrix.os }}

        steps:
            - name: Checkout code
              uses: actions/checkout@v1

            - name: Setup PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{ matrix.php }}
                  extensions:
                      dom, curl, libxml, mbstring, zip, pcntl, pdo, sqlite,
                      pdo_sqlite, bcmath, soap, intl, gd
                  coverage: none

            - name: Setup Memcached
              uses: niden/actions-memcached@v7

            - name: Install dependencies
              run: |
                  composer update --${{ matrix.dependency-version }} --prefer-dist --no-interaction --no-suggest

            - name: Execute tests
              run: composer test
